<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-12">
                    <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Dashboard</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin"><i class="icon-home"></i></a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-3 col-md-12">
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-6">
                        <div class="card top_counter">
                            <div class="body">
                                <div id="top_counter1" class="carousel vert slide" data-ride="carousel" data-interval="2500">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <div class="icon"><i class="fa fa-user"></i> </div>
                                            <div class="content">
                                                <div class="text">Total Product</div>
                                                <h5 class="number">@ViewBag.Pro</h5>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div class="icon"><i class="fa fa-user"></i> </div>
                                            <div class="content">
                                                <div class="text">Total Candidate</div>
                                                <h5 class="number">@ViewBag.Can</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div id="top_counter1" class="carousel vert slide" data-ride="carousel" data-interval="2500">
                                    <div class="carousel-inner">
                                        <div class="carousel-item ">
                                            <div class="icon"><i class="fa fa-user"></i> </div>
                                            <div class="content">
                                                <div class="text">Total Product</div>
                                                <h5 class="number">@ViewBag.Pro</h5>
                                            </div>
                                        </div>
                                        <div class="carousel-item active">
                                            <div class="icon"><i class="fa fa-user"></i> </div>
                                            <div class="content">
                                                <div class="text">Total Candidate</div>
                                                <h5 class="number">@ViewBag.Can</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6">
                        <div class="card top_counter">
                            <div class="body">
                                <div id="top_counter3" class="carousel vert slide" data-ride="carousel" data-interval="2300">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <div class="icon"><i class="fa fa-eye"></i> </div>
                                            <div class="content">
                                                <div class="text">Total Job</div>
                                                <h5 class="number">@ViewBag.Job</h5>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div class="icon"><i class="fa fa-eye"></i> </div>
                                            <div class="content">
                                                <div class="text">Total Apply Job</div>
                                                <h5 class="number">@ViewBag.Apply</h5>
                                            </div>
                                        </div>
                                    
                                    </div>
                                </div>
                                <hr>
                                <div id="top_counter3" class="carousel vert slide" data-ride="carousel" data-interval="2300">
                                    <div class="carousel-inner">
                                        <div class="carousel-item ">
                                            <div class="icon"><i class="fa fa-eye"></i> </div>
                                            <div class="content">
                                                <div class="text">Total Job</div>
                                                <h5 class="number">@ViewBag.Job</h5>
                                            </div>
                                        </div>
                                        <div class="carousel-item active">
                                            <div class="icon"><i class="fa fa-eye"></i> </div>
                                            <div class="content">
                                                <div class="text">Total Apply Job</div>
                                                <h5 class="number">@ViewBag.Apply</h5>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-12">
                <div class="card">
                    <div class="header">
                        <h2>Chart Quote</h2>
                        <ul class="header-dropdown">
                            <li><a class="tab_btn active" href="javascript:void(0);" title="Monthly">M</a></li>
                            <li><a class="tab_btn" href="javascript:void(0);" title="Yearly">Y</a></li>
                        </ul>
                    </div>
                    <div class="body">
                        <div id="total_revenue" class="ct-chart m-t-20"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
           document.addEventListener("DOMContentLoaded", function () {
        // Retrieve data passed from the controller
        var monthlyData = @Html.Raw(Json.Serialize(ViewBag.MonthlyData));
        var yearlyData = @Html.Raw(Json.Serialize(ViewBag.YearlyData));
        var yearlyLabels = @Html.Raw(Json.Serialize(ViewBag.YearlyLabels));

        // Define the initial chart data (Monthly by default)
        var currentData = monthlyData;
        var currentLabels = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var data = {
            labels: currentLabels,
            series: [currentData]
        };

        var options = {
            height: "354px",
            showPoint: true,
            axisX: {
                showGrid: false
            },
            axisY: {
                labelInterpolationFnc: function (value) {
                    return value;
                }
            },
            lineSmooth: true,
            plugins: [
                Chartist.plugins.tooltip({
                    appendToBody: true
                }),
            ]
        };

        // Render the initial chart
        var chart = new Chartist.Line('#total_revenue', data, options);

        // Add event listeners to tabs
        document.querySelectorAll('.tab_btn').forEach(function (tab) {
            tab.addEventListener('click', function () {
                // Remove active class from all tabs
                document.querySelectorAll('.tab_btn').forEach(function (t) {
                    t.classList.remove('active');
                });

                // Add active class to clicked tab
                this.classList.add('active');

                // Update chart data based on the selected tab
                var title = this.getAttribute('title');
                if (title === 'Monthly') {
                    currentData = monthlyData;
                    currentLabels = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
                } else if (title === 'Yearly') {
                    currentData = yearlyData;
                    currentLabels = yearlyLabels;
                }

                // Update the chart with new data
                chart.update({
                    labels: currentLabels,
                    series: [currentData]
                });
            });
        });
    });

</script>